@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-white: hsl(0, 100%, 100%);
  --clr-grey: hsl(0, 0%, 58%);
  --clr-blue-700: hsl(235, 18%, 26%);
  --clr-blue-800: hsl(234, 29%, 20%);
  --clr-red-100: #ffe7e6;
  --clr-red-400: hsl(4, 100%, 67%);
  --clr-gradient: linear-gradient(hsl(15, 100%, 61%), hsl(346, 200%, 66%));

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-700: 2.5rem;
  --fs-900: 3.5rem;

  --lh-reg: 1;
  --lh-lg: 1.5;

  --spc-100: 0.5rem;
  --spc-200: 1rem;
  --spc-300: 1.5rem;
  --spc-400: 2rem;
  --spc-500: 2.5rem;
  --spc-600: 3rem;
  --spc-800: 4rem;
  --spc-900: 4.5rem;
  --spc-1000: 5rem;
  --spc-1300: 6.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--clr-blue-800);
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
}

.signup {
  display: grid;
  grid: "img" "hero" "form"/1fr;
}

picture {
  grid-area: img;
  margin-bottom: var(--spc-500);
}

.signup__image {
  width: 100%;
  height: auto;
  display: block;
}

.signup__hero {
  grid-area: hero;
  padding: 0 var(--spc-300) var(--spc-500);
  display: flex;
  flex-direction: column;
  gap: var(--spc-300);
}

.signup__heading {
  font-size: var(--fs-700);
  font-weight: bold;
}

.signup__list {
  list-style: none;
}

.signup__item {
  position: relative;
  padding-left: var(--spc-500);
  line-height: var(--lh-lg);
}

.signup__item::before {
  content: "";
  position: absolute;
  background-image: url("./assets/images/icon-list.svg");
  height: 1.3125rem;
  width: 1.3125rem;
  left: 0;
}

.signup__form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: var(--spc-300);
  padding: 0 var(--spc-300);
}

.signup__form-group {
  display: grid;
  grid-template-areas:
    "label error"
    "input input";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content 1fr;
  row-gap: 0.25rem;
}

.signup__label {
  grid-area: label;
  color: var(--clr-blue-800);
}

.signup__error {
  grid-area: error;
  color: var(--clr-red-400);
  justify-self: end;
}

.signup__label,
.signup__error {
  font-size: var(--fs-300);
  font-weight: bold;
  line-height: var(--lh-lg);
}

.signup__input {
  grid-area: input;
  padding: var(--spc-200) var(--spc-300);
  border-radius: var(--spc-100);
  border: 1px solid var(--clr-grey);
  color: var(--clr-blue-800);
}

.signup__input:placeholder-shown {
  color: var(--clr-grey);
}

.signup__input:active,
.signup__input:focus {
  outline: none;
  border-color: var(--clr-blue-800);
  caret-color: var(--clr-blue-800);
}

.signup__input:user-invalid {
  border-color: var(--clr-red-400);
  color: var(--clr-red-400);
  background-color: var(--clr-red-100);
}

.signup__button {
  color: var(--clr-white);
  background: var(--clr-blue-800);
  padding: var(--spc-200) var(--spc-600);
  border: none;
  border-radius: var(--spc-100);
  font-size: var(--fs-400);
  text-wrap: nowrap;
  cursor: pointer;
}

.success {
  padding: var(--spc-1300) var(--spc-400) 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr) calc(40vh - var(--spc-1300));
}

.success__image {
  margin-bottom: var(--spc-400);
}

.success__heading {
  color: var(--clr-blue-800);
  font-size: var(--fs-700);
  margin-bottom: var(--spc-400);
}

.success__email {
  font-weight: 700;
  color: var(--clr-blue-800);
}

.success__description {
  line-height: var(--lh-lg);
}

.success__button {
  color: var(--clr-white);
  background: var(--clr-blue-700);
  border: none;
  border-radius: var(--spc-100);
  padding: var(--spc-200) 0;
  height: fit-content;
  align-self: end;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: var(--spc-300);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    background-color: var(--clr-blue-700);
  }

  main {
    padding: var(--spc-1000);
    display: grid;
    place-content: center;
  }

  .signup {
    background-color: var(--clr-white);
    max-width: 38rem;
    padding: var(--spc-500);
    border-radius: var(--spc-400);
  }

  .signup__image {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  .signup__hero {
    padding: 0 0 var(--spc-300);
  }

  .signup__heading {
    font-size: var(--fs-900);
  }

  .signup__item {
    margin-bottom: var(--spc-100);
  }

  .signup__form {
    gap: var(--spc-200);
    padding: 0;
  }

  .attribution {
    color: var(--clr-white);
  }

  .attribution > a {
    color: var(--clr-red-400);
  }
}

@media (min-width: 1200px) {
  .signup {
    max-width: 57rem;
    grid:
      "hero img"
      "form img" / 1fr 1fr;

    padding: var(--spc-400);
    column-gap: var(--spc-800);
  }

  .signup__hero {
    gap: var(--spc-400);
    align-self: center;
    padding: 0;
  }

  .signup__button:hover,
  .signup__button:focus {
    background: var(--clr-gradient);
  }
}

.hidden {
  display: none;
}
